{% extends "admin/layout.njk" %}
{% block content %}
    <form action="/admin/chefs" method="post" enctype="multipart/form-data">
        <div class="admin-title">
            <h1>Criar Chef</h1>
            <div class="buttons">
                <button class="button">Salvar</button>
            </div>
        </div>
        {% include "admin/chefs/form.njk" %}
    </form>
{% endblock content %}