{% extends "admin/layout.njk" %}
{% block content %}
    <div class="admin-title">
        <h1>Gerenciar Usuários</h1>
        <div class="buttons">
            <a href="/admin/users/create" class="button">Criar Usuário</a>
        </div>
    </div>
    <div class="users">
        {% for user in users %}
            <div class="user">
                <p>{{user.name}}</p>
                <span>{{user.email}}</span>
                <div class="actions">
                    <a href="/admin/users/{{user.id}}">Editar</a>
                    <form action="/admin/users?_method=DELETE" method="post">
                        <input type="hidden" name="id" value="{{user.id}}">
                        <button type="submit" onclick="ConfirmDelete.user(event)">Remover</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}