<!DOCTYPE html>
    <head>
        <title>Foodfy - Administração</title>
        {% include "parts/styles.njk" %}
    </head>
    <body>
        {% include "parts/messages.njk" %}
        {% include "admin/parts/header.njk" %}
        <div class="app">
            {% block content %}
            {% endblock content %}
        </div>
        <script src="/scripts.js"></script>
    </body>
</html>