.recipe-page .header {
    margin-bottom: 50px;
}

.recipe-page .header .main-image img {
    width: 940px;
    height: 280px;
    border-radius: 15px;
    object-fit: cover;
}

.recipe-page .header .images {
    text-align: right;
}

.recipe-page .header .images img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 5px;
    opacity: 0.5;
    cursor: pointer;
    border: 1px solid #dddddd;
}

.recipe-page .header .images img:hover {
    opacity: 1;
}

.recipe-page .header .images img.selected {
    opacity: 1;
}

.recipe-page .header h1 {
    text-align: center;
    font-size: 36px;
}

.recipe-page .header p {
    font-size: 20px;
    color: #777777;
    text-align: center;
}

.recipe-page section {
    margin-bottom: 50px;
}

.recipe-page section div {
    display: flex;
    align-items: baseline;
}

.recipe-page section div h2 {
    margin-right: 10px;
}

.recipe-page section div span {
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    text-transform: uppercase;
    cursor: pointer;
}

.recipe-page section .info {
    margin-top: 20px;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

.recipe-page section .info.hidden {
    visibility: hidden;
    height: 0px;
}

.recipe-page section ul {
    margin-left: 20px;
}