{% extends "admin/layout.njk" %}
{% block content %}
    <div class="admin-title">
        <h1>Gerenciar Receitas</h1>
        <div class="buttons">
            <a href="/admin/recipes/create" class="button">Criar Receita</a>
        </div>
    </div>
    <div class="admin-recipes">
        {% if recipes.length > 0 %}
            {% for recipe in recipes %}
                <div class="recipe">
                    <img src="{{recipe.image.path}}" alt="imagem de {{recipe}}">
                    <div class="info">
                        <p>{{recipe.title}}</p>
                        <span>por {{recipe.chef.name}}</span>
                        <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="no-items">Ainda não há receitas cadastradas.</p>
        {% endif %}
    </div>
{% endblock content %}